.settingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 20px;
  }
}

.manageContainer {
  display: flex;
  gap: 16px;
}

.inputContainer {
  padding: 3px 8px;
  border: 1px solid rgba(107, 107, 251, 0.7);
  border-radius: 8px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}
