.root {
  display: flex;
  gap: 16px;
  align-items: center;
}

.menuItem {
  color: var(--text-color-primary);
  text-decoration: unset;
  transition: 0.3s;
  font-size: 32px;

  &:hover {
    color: var(--text-color-primary-hover);
  }
}

.active {
  border-bottom: 2px solid red;
}
