.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  display: none;

  &.visible {
    display: flex;
  }
}

.modalWrapper {
  position: relative;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  @media screen and (max-width: 576px) {
    align-items: flex-end;
  }
}

.modalContainer {
  padding: 48px 24px 24px 24px;
  border-radius: 28px;
  background-color: var(--main-color);
  max-width: 360px;
  width: 100%;
  z-index: 3;
  position: relative;

  @media screen and (max-width: 576px) {
    border-radius: 28px 28px 0 0;
  }
}

.closeButton {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 6px;
}
