.pageTitle {
  margin-bottom: 6px;
}

.pageSubtitle {
  margin-bottom: 16px;
  font-weight: 400;
  color: gray;
  word-break: break-all;
}

.vaultsManagmentContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.strategiesManagmentContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainContainer {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 769px) {
    flex-direction: column;
  }
}
