.mainBlock {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 576px) {
    flex-direction: column;
    align-items: unset;
  }
}
