.root {
  background-color: rgba(107, 107, 251, 0.7);
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: rgba(107, 107, 251, 0.9);
  }

  &:disabled {
    background-color: rgba(184, 184, 184, 0.825);
  }
}
