.tableValue {
  padding: 16px;
  border: 0.5px solid gray;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;

  @media screen and (max-width: 576px) {
    max-width: unset;
    width: auto;
  }
}
