html,
body {
  height: 100vh;
  margin: 0;
  background-color: var(--main-color);
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
  border: unset;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
input,
button {
  color: var(--text-primary);
}

button {
  cursor: pointer;
}
