html[data-theme="light"] {
  --main-color: #ffffff;
  --box-shadow: rgba(0, 0, 0, 0.46);

  --text-primary: #000000;
  --text-primary-hover: rgba(0, 0, 0, 0.6);

  --text-secondary: #8c99ac;
}

html[data-theme="dark"] {
  --main-color: #100c2a;
  --box-shadow: rgba(255, 255, 255, 0.46);

  --text-primary: #ffffff;
  --text-primary-hover: rgba(255, 255, 255, 0.6);

  --text-secondary: rgba(255, 255, 255, 0.5);
}

:root {
  --bg-body: var(--main-color);
  --bg-secondary: white;
  --main-box-shadow: var(--box-shadow);

  --text-color-primary: var(--text-primary);
  --text-color-primary-hover: var(--text-primary-hover);
  --text-color-secondary: var(--text-secondary);

  --border-color-primary: rgb(var(--main-color));
}
