.container {
  padding: 12px 60px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 11px 23px -22px var(--main-box-shadow);
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;

  @media screen and (max-width: 576px) {
    padding: 12px 26px;
  }
}

.leftBlock {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  justify-self: flex-end;
}

.rightBlock {
  display: flex;
  align-items: center;
  gap: 24px;
}

.ethBlock {
  display: flex;
  flex-direction: column;
}