.toggle {
  :hover {
    cursor: pointer;
  }
}

.label {
  background-color: var(--text-color-primary);
  display: flex;
  height: 10px;
  width: 26px;
  border-radius: 30px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  transform: scale(1.5);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.ball {
  height: 16px;
  width: 16px;
  background-color: var(--bg-body);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: left 0.2s linear;
}

.checkbox:checked + .label .ball {
  left: 18px;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
