.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pendingListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}